@mixin displayFlexRow( $width : 100%) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: $width;
    justify-content: space-between;
}


.places {
    width: 100%;
    &__header {
        @include displayFlexRow;
        margin: 0 0 4rem;
    }
    &__title {
        font-size: 3.2rem;
        color: var(--green);
        span {
            color: var(--black);
        }
    }
    &__select {
        @include displayFlexRow($width: 26rem);
        border-bottom: 1px solid #000000;
        padding: 4px 15px;
        align-items: center;

        h5 {
            color: #706D6D;
            font-size: 1.8rem;
            font-weight: 500;
        }

        select {
            border: 0 none;
            font-weight: 500;
            font-size: 1.8rem;
            color: #000000;
            line-height: 2.1rem;
            padding: 0 .5rem;
        }
    }
}
