.pills {
    &__container {
        height: 2.9rem;
        background-color: var(--green);
        border-radius: 2rem;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        font-weight: 400;
        padding-left: 2rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        padding-right: 2rem;
        cursor: pointer;
        width: max-content;

        &--active {
            background-color: var(--lightGray);
        }
    }
}